body {
    background-color: #ffb3c6;
}

h1 {
    text-align: center;
    font-family: 'matcha cih';
    position: relative;
    top: 10px;
    z-index: 2;
    color: #ffe169;
    -webkit-text-stroke: 0.4px #a63c06;
}

#dekor {
    height: 400px;
    width: 400px;
    top: 90vh;
    position:absolute;
    z-index:3;
    animation: move 4s infinite ease-in-out alternate;
}

#dekor1 {
    height: 100px;
    position: absolute;
    animation: pencicilan 5s infinite linear;
    z-index: 1;
    top: 1vh;
}

#dekor2 {
    height: 200px;
    left: 75%;
    top: 1vh;
    z-index: 1;
    position: absolute;
    animation: pencicilan 8s infinite linear;
}

@keyframes pencicilan {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(60deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
            transform: rotate(-60deg);
        }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes move {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'matcha cih';
    src: url('font/matcha cih.ttf') format('truetype');
}

@font-face {
    font-family: 'brown cookies';
    src: url('font/Brown Cookies.otf') format('truetype');
}

.paragraph {
    font-family: 'brown cookies';
    position: relative;
    top: 10px;
    left: 10px;
    color: #682a10;
    background-color: #ffec9e;
    padding: 20px;
    border-radius: 10px;
    z-index: 0;
}

#p1 {
    position: absolute;
    top: 1vh;
    left: 50vw;
    height: 100px;
    z-index: -1;
}

#p2 {
    position: absolute;
    top: 1vh;
    left: 10vw;
    height: 300px;
    z-index: -2;
}

#p3 {
    position: absolute;
    align-content: center;
    top: 20vh;
    left: 40vw;
    height: 100%;
    z-index: -1;
}

@media (max-width: 600px) {
    .paragraph {
        font-size: 14px;
        padding: 10px;
    }
}